.feedback {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 420px;
}

.feedback-list {
    position: absolute;
    top: 240px;
    left: 120px;
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: box-shadow 0.8s ease, transform 0.8s ease;
}

.feedback-card {
    background: #c05621;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(198, 11, 11, 0.1);
    cursor: pointer;
}

.feedback-list :hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.726);
    transform: translateY(-2px);

}

.feedback-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.feedback-card p {
    font-size: 20px;
    color: #ffffff;
}

.feedback-board {
    position: absolute;
    top: 130px;
    left: 0px;
    background-Color: #ff660023;
    background-Color: #ff910035;





}

.feedback h2 {
    position: absolute;
    width: 250px;
    top: 170px;
    left: 650px;
    font-size: 1.5rem;
    font-weight: bold;

}