.auth-container {
    position: relative;
    top: 90px;
    left: 325px;
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    position: relative;
    background: white;
    transition: transform 0.6s ease-in-out;
}

.form-container {
    display: flex;
    width: 100%;
    height: 90%;
    transition: transform 0.6s ease-in-out;
}

.auth-container.sign-up-mode .form-container {
    transform: translateX(50%);
}

.form {
    width: 50%;
    padding: 40px 30px;
    background: white;
    display: flexbox;
    flex-direction: column;


    box-sizing: border-box;
    transition: opacity 0.6s ease-in-out;
    margin-right: 25px;
    margin-left: 25px;
}

.sign-in-form {
    opacity: 1;
    z-index: 1;
}

.sign-up-form {
    opacity: 0;
    z-index: 0;
}

.auth-container.sign-up-mode .sign-up-form {
    opacity: 1;
    z-index: 1;
}

.auth-container.sign-up-mode .sign-in-form {
    opacity: 0;
    z-index: 0;
}

.input-field {
    width: 170%;
    margin-bottom: 30px;
    position: relative;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 8px;
    outline: none;
    justify-items: auto;
    transition: all 0.3s ease;
    margin-left: -10px;
    margin-right: -40px;
}

.input-field input:focus {
    border-color: #ff4b2b;
    background-color: #fff;
}

.input-field label {
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    padding: 0 5px;
}

.btn {
    padding: 12px 45px;
    border: none;
    border-radius: 20px;
    background-color: #dd6b20;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background: #c05621;
}

.panel {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #f7a957, #c05621);
    color: white;
    transition: transform 0.6s ease-in-out;
    border-radius: 20px;
}

.auth-container.sign-up-mode .panel {
    transform: translateX(-150%);
}

.panel-content {
    text-align: center;
}

h2 {
    color: black;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    color: #333;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: lighter;
}

a {
    color: #0a0201;
    text-decoration: none;
    font-weight: lighter;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff4b2b;
}

.options a {
    font-size: 13px;
    text-decoration: none;
    color: #cb3319;
    margin-left: 15px;
}

.toggle-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    padding: 12px 45px;
    letter-spacing: 1px;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s ease-in-out;
}

.toggle-btn:hover {
    background: white;
    color: #ff4b2b;
}

.panel-content p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}



@media (max-width: 1024px) {
    .auth-container {
        width: 90%;
        height: 90%;
    }

    .panel {
        width: 100%;
        margin-top: 20px;
    }

    .form {
        width: 100%;
        margin-right: 0;
        padding: 80px;
    }
}

@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .form-container {
        width: 100%;
        flex-direction: column;
    }

    .panel {
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }

    .sign-in-form,
    .sign-up-form {
        width: 100%;
    }

    .input-field input {
        padding: 12px;
    }

    .btn {
        width: 100%;
        padding: 12px 0;
    }

    .toggle-btn {
        width: 100%;
        padding: 12px 0;
    }
}